<h1> New game </h1>
<p><%= ('a'..'z').to_a.sample(10) %></p>

<form action="/score" method="post" data-turbo="false">
  <input type="text" name="longest_word" placeholder="What is your longest word?">
  <input type="submit" value= "Guess!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
